{% extends "base.html.twig" %}

{% block color %}learn-color{% endblock %}

{% block title %}
<a href="{{path("lesson", {'id':learn[0].learnTheme})}}"><i class="fas fa-arrow-left text-white"></i></a>
Test {% endblock %}



{% block content %}

{% for l in learn %}






<div>
  <img src="{{l.picture}}" alt="" class="w-100 mb-2">
        <p>{{l.question}}</p>

        <small>
          id de la question : {{l.id}}
          <br>
          learnTheme : {{l.learnTheme}}
          <br>
          réponse : {{l.answer}}
          <br>
          correction : {{l.correction}}
        </small>



<div class="d-flex justify-content-around">

  <a href="{{path('learn_test', {'id': l.learnTheme}, {'param' : 'vrai'})}}">vrai</a>

  <a href="{{path('learn_test', {'id': l.learnTheme}, {'param' : 'faux'})}}">faux</a>

<button type="button" class="btn-lg btn btn-success" >Vrai</button>
<button type="button" class="btn btn-lg btn-danger" >Faux</button>



</div>


    </div>
    <hr>
    
{% endfor %}

<small class="d-flex justify-content-center">
    <div class="pagination mw-100">
        {{ knp_pagination_render(learn) }}
      </div>

</small>

<!-- 
<a class="btn btn-success btn-lg col-md-4 offset-md-4" onclick="confirm('Etes-vous sûr de vouloir valider toutes vos réponses ?')" href="{{path('learn')}}" role="button">Je valide mes réponses</a> -->


{% endblock %}